/* 24. Text Highlighting
Using the Document Object Model (DOM), highlight all words in a paragraph element that are greater than 8
characters. The highlighted words should be with a yellow background color. */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.highlight {
    background-color: yellow;
}
