*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/pexels-maxyne-barcel-10402282\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 0 60px 0 60px;
    margin-top: 55px;
}

ul{
    display: flex;
    align-items: center;
    gap: 63px;
    list-style: none;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffc233;
}

li{
    font-weight: 400;
}

.logo-image, .list{
    cursor: pointer;
}

.small-button{
    padding: 12px 40px;
    background: #ff505f;
    border: none;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
}

main{
    max-width: 1154px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

h1{
    font-family: "Dela Gothic One", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 104px;
    line-height: 114px;
    color: #ffc233;
}

.button{
    background: #ff505f;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    border: none;
    padding: 24px 56px;
    margin-top: 64px;
    cursor: pointer;
}

.buttom{
    position: absolute;
    bottom: 20px;
    right: 40px;
}