*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 63px; 
} 

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 36px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

li{
    cursor: pointer;
}

li:hover{
    color: #5955b3;
}

button{
    padding: 14px 28px;
    background-color: #5955b3;
    border: none;
    border-radius: 12px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
}

.left-section{
    padding: 63px;
}

h1{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    color: #3c2f60;
}

samp{
    color: #5955b3;
}

p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #828282;
    margin-top: 28px;
}

.button{
    margin-top: 55px;
}